body {
	background-color: #232323;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.square {
	width: 	30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: 0.5s;
}

#container {
	max-width: 	600px;
	margin: 20px auto;
}

h1 {
	color: 	white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0;
}

span {
	color: black;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

#colorDisplay {
	color: white;
	font-size: 200%;
}

.selected {
	color: white;
	background: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

#message {
	display: inline-block;
	width: 20%;
}	